<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agile Royale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agile Royal</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/creative.min.css" rel="stylesheet">
    <script>
        $(document).ready(function(){
            $("#perguntas").hide();
            $("#comecaJogo").click(function(){
                $("#perguntas").toggle(1000);
            });


            $(".getAnswer").click(function(){
                var opt = {
                    type: 'GET',
                    url: '/get_results'
                }

                $.ajax(opt).done(function (result) {


                    if(result!=null)
                    {
                        $("#resultsString").text("");
                        var str = result.split("\n");
                        for(var i = 0; i < str.length; i++)
                        {
                            var textoAntigo = $("#resultsString").text();

                            $("#resultsString").append(str[i] + '<br>');

                        }

                    }
                    else
                        $("#resultsString").text("Sem resultados de equipas.");



                    var correctAnswers = $(".correctAnswer");
                    //alert(correctAnswers.html());

                    var i;
                    for (i = 0; i < correctAnswers.length; i++) {
                        var color = correctAnswers[i].style.background;
                        //alert(color);
                        if(color == "")
                        {
                            correctAnswers[i].style.background = "#badfad";
                            correctAnswers[i].style.fontWeight = "bold";

                            break;
                        }
                    }
                });
            });

        });

        function myFunction() {
            location.reload();
        }
    </script>



</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Agile Royale</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">

        <h1 class="text-uppercase">
            <strong>Equipas Definidas</strong>
        </h1>

        <div class="row">
            <div class="col-lg-10 mx-auto">

                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div th:each="ad,rowStat : *{teams}" class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <h3 class="mb-3 text-muted" th:text="'Equipa ' + ${ad.getNumber()}"></h3>

                                            <div th:each="adPlayer,rowStatPlayer : *{ad.listPlayers}">
                                                <p th:text="${adPlayer}" class="text-muted mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <h3 class="mb-3 text-success">Lista de Resultados</h3>
                                            <div id ="resultsString" class="text-muted mb-0">Sem resultados de equipas.</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services">

    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <button onclick="myFunction()" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </button>

                <button id="comecaJogo" class="btn btn-success btn-lg">Começar Jogo</button>
                <br>
                <br>
                <div id="perguntas">
                    <table class="table table-striped">
                        <tr >
                            <td colspan="5"><b>1.Quais são os princípios do kanban?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td> A: Cadeia de informações válidas ao desenvolvimento; Ilustrações técnicas </td>
                            <td class="correctAnswer">B: Visualização da Cadeia de Valor; Desenvolvimento Evolucionário; Restrição do trabalho e seu progresso em torno das suas fases</td>
                            <td>C: Visualização da cadeia de valor; Ilustrações técnicas; Restrição do trabalho e seu progresso em torno de suas fases</td>
                            <td>D: Cadeia de informações válidas ao desenvolvimento; Desenvolvimento evolucionário</td>
                            <td>E: Restrição do trabalho e seu progresso em torno das suas fases; Cadeia de informações válidas ao desenvolvimento; Desenvolvimento Evolucionário</td>

                        </tr>

                        <tr >
                            <td colspan="5"><b>2.Quais das opções abaixo não descreve uma característica do Kanban?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Transparência</td>
                            <td>B: Adaptação</td>
                            <td class="correctAnswer">C: Diversificação</td>
                            <td>D: Disciplina</td>
                            <td>E: Priorização</td>
                        </tr>

                        <tr >
                            <td colspan="5"><b>3.É um dos princípios da metodologia Lean:</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Documentação formal</td>
                            <td>B: Baka Yoke</td>
                            <td>C: Dinamismo funcional</td>
                            <td class="correctAnswer">D: Poka Yoke</td>
                            <td>E: Shih Tzu</td>
                        </tr>

                        <tr >
                            <td colspan="5"><b>4.Com relação à metodologia Lean, quais são os 5 “S”?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Shinu; Shimaru; Shinjiru; Shaberu; Shiru</td>
                            <td>B: Selecionar; Salvar; Servir; Sombrear; Segregar</td>
                            <td>C: Simular; Sinalizar, Substituir; Subdelegar; Salientar</td>
                            <td class="correctAnswer">D: Sort; Set in order; Shine; Standardize; Sustain</td>
                            <td>E: Save; Sack; Satisfy; Say; Scater</td>
                        </tr>
                        <tr >
                            <td colspan="5">
                                <b>5.A Figura a seguir demonstra a atividade de qual característica do Lean?</b>
                                <br>
                                <img src="../img/lean.jpg">
                                <br><button class="btn btn-success btn getAnswer">Ver Resposta</button>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td>A: Poka Yoke</td>
                            <td class="correctAnswer">B: Jidoka</td>
                            <td>C: JIT (Just in Time)</td>
                            <td>D: 5S</td>
                            <td>E: Manutenção Produtiva Total</td>
                        </tr>
                        <tr >
                            <td colspan="5"><b>6.Qual o diagrama que é muito utilizado no Lean?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Diagrama de objetos</td>
                            <td>B: Diagrama de barras</td>
                            <td>C: Diagrama de pizza</td>
                            <td class="correctAnswer">D: Diagrama de espaguete</td>
                            <td>E: Diagrama de bolo Kasutera</td>
                        </tr>
                        <tr >
                            <td colspan="5"><b>7.Qual dos princípios fundamentais apresentados não pertence ao MSF?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Visão de projeto compartilhado</td>
                            <td>B: Mais poderes aos membros da equipa</td>
                            <td>C: Aprender com todas as experiências</td>
                            <td class="correctAnswer">D: Foco no cliente</td>
                            <td>E: Foco no negócio</td>
                        </tr>
                        <tr >
                            <td colspan="5"><b>8.São metodologias com foco em em desenvolvimento:</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: XP; Lean; MSF</td>
                            <td>B: XP; Kanban; MSF</td>
                            <td class="correctAnswer">C: XP; RUP; MSF</td>
                            <td>D: RUP; MSF ; Lean</td>
                            <td>E: Lean; MSF; RUP</td>
                        </tr>
                        <tr >
                            <td colspan="5"><b>9.Quais são as três disciplinas assumidas pelo MSF?</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td>A: Gestão da disciplina de projeto; Gestão da disciplina de risco; Gestão da disciplina de software</td>
                            <td>B: Gestão da disciplina de risco; Gestão da disciplina de sistemas; Gestão da disciplina de projeto</td>
                            <td>C: Gestão da disciplina de software; Gestão da disciplina de risco; Gestão da disciplina de equipas</td>
                            <td>D: Gestão da disciplina de sistemas; Gestão da disciplina de projeto; Gestão da disciplina de equipas</td>
                            <td class="correctAnswer">E: Gestão da disciplina de aprendizado;  Gestão da disciplina de projeto; Gestão da disciplina de risco</td>
                        </tr>
                        <tr >
                            <td colspan="5"><b>10.O MSF funciona sob dois modelos:</b> <button class="btn btn-success btn getAnswer">Ver Resposta</button></td>
                        </tr>
                        <tr>
                            <td class="correctAnswer">A: Modelo de Equipa; Modelo de Processos</td>
                            <td>B: Modelo de Processos; Modelo de Software</td>
                            <td>C: Modelo de Software; Modelo de projetos</td>
                            <td>D: Modelo de Disciplinas; Modelo de Equipas</td>
                            <td>E: Modelo de Processos; Modelo de Disciplinas</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center">
        <h3 class="mb-4">Trabalho Elaborado por:</h3><br>
        <h4>Bruno Coelho</h4>
        <h4>Carlos Afonso</h4>
        <h4>Edmar Santos</h4>
        <h4>Gustavo Almeida</h4>
        <h4>Stefan Loureiro</h4>
        <h4>Wanderley Drumond</h4>

    </div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="assets/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="assets/js/creative.min.js"></script>

</body>

</html>
